.mask-pkg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}
.red-pkg-close {
    display: block;
    width: 29px;
    height: 29px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: 147px;
    margin-top: -220px;
    cursor: pointer;
    opacity: 0;
}
/* 未开启 */
.red-pkg-notopen {
    width: 318px;
    height: 441px;
    background-size: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: 0.6s;
    visibility: hidden;
    opacity: 0;
    transform: translate3d(-50%, -20%, 0) scale(0.2);
}
.red-pkg-notopen-show {
    opacity: 1;
    visibility: visible;
    transform: translate3d(-50%, -50%, 0) scale(1);
}
.red-pkg-notopen .top {
    display: block;
    width: 270px;
    height: 94px;
    position: relative;
    margin: 0 auto;
    top: 17px;
    transform: scale(0.7);
}
.red-pkg-notopen-show .top {
    animation: red-pkg-notopen-top 0.4s ease-in 0.2s forwards;
}
@keyframes red-pkg-notopen-top {
    0% {
        transform: scale(0.7);
        top: 17px;
    }
    25% {
        /* transform: scale(1.2); */
    }
    50% {
        transform: scale(1.1);
        top: -8px;
    }
    75% {
    }
    100% {
        transform: scale(1);
        top: 0;
    }
}
.red-pkg-notopen .bg {
    width: 318px;
    height: 393px;
    background: url("./img/hb_bj_tc@2x.png") no-repeat;
    background-size: 100%;
    position: relative;
    top: -46px;
    padding-top: 52px;
}
.red-pkg-notopen .count-down {
    display: block;
    width: 109px;
    height: 109px;
    position: absolute;
    left: 50%;
    bottom: 49px;
    transform: translate(-50%, 0);
}
.red-pkg-notopen .open {
    display: none;
    width: 109px;
    height: 109px;
    position: absolute;
    left: 50%;
    bottom: 49px;
    transform: translate(-50%, 0);
    cursor: pointer;
}
.red-pkg-notopen .avatar {
    display: block;
    width: 35px;
    height: 35px;
    margin: 0 auto;
}
.red-pkg-notopen .title {
    font-size: 16px;
    text-align: center;
    color: #fff2c8;
    padding-top: 10px;
}
/* 开启 */
.red-pkg-open {
    width: 317px;
    height: 357px;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: 0.4s;
    visibility: hidden;
    opacity: 0;
    transform: translate3d(-50%, -20%, 0) scale(0.2);
}
.red-pkg-open-show {
    opacity: 1;
    visibility: visible;
    transform: translate3d(-50%, -50%, 0) scale(1);
}
.red-pkg-open .top {
    display: block;
    width: 317px;
    height: 151px;
    position: absolute;
    top: -103px;
}
.red-pkg-open .bg {
    width: 317px;
    height: 357px;
    background: url("./img/hb_bj_jg@2x.png") no-repeat;
    background-size: 100%;
    position: absolute;
}
.red-pkg-open .success {
    /* display: none; */
    padding-top: 25px;
    text-align: center;
}
.red-pkg-open .success .title {
    font-size: 18px;
    color: #bc7300;
}
.red-pkg-open .success .sum {
    color: #fc4b00;
    font-size: 20px;
    margin-top: 18px;
    line-height: 46px;
}
.red-pkg-open .success .sum i {
    font-size: 46px;
    font-weight: 600;
    font-family: PingFangSC, PingFangSC-Semibold;
}
.red-pkg-open .success .tips {
    font-size: 16px;
    color: #bd7503;
    margin-top: 7px;
}
.red-pkg-open .success .tips i {
    color: #fc4b00;
    text-decoration: underline;
}
.red-pkg-open .fail {
    display: none;
    font-size: 20px;
    color: #fc4b00;
    text-align: center;
    padding-top: 72px;
    font-weight: 500;
}
.red-pkg-open .operation {
    position: absolute;
    bottom: 23px;
    left: 0;
    right: 0;
}
.red-pkg-open .operation img {
    display: block;
    cursor: pointer;
    margin: 0 auto;
}
.red-pkg-open .operation .reply {
    width: 254px;
    height: 50px;
}
.red-pkg-open .operation .check {
    width: 244px;
    height: 42px;
}
